.summoner-header-container {
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.text-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
}